.head{
    background-color: #eeae0c;
    padding: 10px 0px;
    border-bottom: 1px solid #bd860c;
}
.oder-btn{
    background-color: #fdf2dd;
    color:#6b430e ;
    border-radius: 50px;
    border: 2px solid#6b430e ;
    padding: 5px 15px ;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.links{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color:  #fdf2dd;
    text-decoration: none;
    font-size: 17px;
    padding: 0px 5px 0px 5px;
}
.happy-img{
    width: 100%;
}
.body{
    background-color: #eeae0c;
}
.food{
    width: 100%;
}
.botton{
    background-color: #eeae0c;
    border-bottom: 1px solid #6b430e;
   padding-top: 10px;
}
.odd{
    color: #6b430e;
}
p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.out{
    background-color: #fffbeb;
    border-bottom: 1px solid #6b430e;
}
.story{
    color: #6b430e;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.PATHNER{
    background-color: white;
    color:#6b430e ;
    border-radius: 50px;
    border: 2px solid#6b430e ;
    padding: 5px 15px ;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.box{
    width: 320px;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
   margin-left: 50px;
   margin-right: 50px;
   padding: 5px 10px 0px 10px;
}
.box:nth-child(1){
   background-color: #f9db60;
   border-radius: 10px;
}
.box:nth-child(2){
    background-color:#94b143;
    border-radius: 10px;
    color: white;
 }

 .box:nth-child(3){
     background-color:#e8c290;
     border-radius: 10px;
  }
  @media(max-width:900px){
    .display1{
        display: none;
    }
  }
  @media(min-width:900px){
    .display2{
        display: none;
    }
  }
  .Purpose-paragraph1{
    padding: 140px 5px 0px 7px ;
  }
  .Purpose-paragraph2{
    padding: 90px 5px 0px 7px ;
  }
  .Purpose-paragraph3{
    padding: 110px 5px 0px 7px ;
  }
  .Sales{
    padding-left: 3px;
    padding-right: 3px;
  }
.cook{
   width: 70%;
}
.drop-down{
    display: none;
}
.design{
    background-color: #eeae0c !important;
    color: #fdf2dd;
    border-bottom: 1px solid #bd860c;
    padding-left: 15px;
    width: 100%;
    position: absolute;
}
footer{
    background-color: #fdf2dd;
}
.about{
    color: #6b430e;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}
.footer-links{
    color: #6b430e;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.no{
    color: #6b430e;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
}
.about-div{
    line-height: 2;
}
.email{
    border: 1px solid #6b430e;
    border-radius: 50px;
    width: 90%;
    height: 40px;
    padding-left: 10px;
}
.searchButton{
    position: relative;
    right: 40px;
    border: 1px solid #6b430e;
   background-color: #eeae0c;
   color: #6b430e;
    border-radius: 50px;
}
.download-btn{
    border-radius: 50px;
    width: 180px;
    height: 50px;
    background-color: transparent;
    color: #6b430e;
    padding-left: 15px;
    border: 1px solid #6b430e;
}
.small{
    color: #6b430e;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    padding-left: 5px;
}
.big{
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.icon{
   margin-left: 5px;
   margin-right: 5px;
}
@media(max-width:900px){
  
  }
  @media(min-width:900px){
      .d2024{
        display: flex;
        justify-content: space-between;
      }
  }
